@font-face {
    font-family: 'WorkSans-Bold';
    src: url('../../fonts/Work-Sans/Bold/WorkSans-Bold.eot');
    src: url('../../fonts/Work-Sans/Bold/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Work-Sans/Bold/WorkSans-Bold.svg#WorkSans-Bold') format('svg'),
         url('../../fonts/Work-Sans/Bold/WorkSans-Bold.ttf')  format('truetype'),
         url('../../fonts/Work-Sans/Bold/WorkSans-Bold.woff') format('woff'),
         url('../../fonts/Work-Sans/Bold/WorkSans-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('../../fonts/Work-Sans/SemiBold/WorkSans-SemiBold.eot');
    src: url('../../fonts/Work-Sans/SemiBold/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Work-Sans/SemiBold/WorkSans-SemiBold.svg#WorkSans-SemiBold') format('svg'),
         url('../../fonts/Work-Sans/SemiBold/WorkSans-SemiBold.woff') format('woff'),
         url('../../fonts/Work-Sans/SemiBold/WorkSans-SemiBold.ttf')  format('truetype'),
         url('../../fonts/Work-Sans/SemiBold/WorkSans-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../../fonts/Work-Sans/Regular/WorkSans-Regular.eot');
    src: url('../../fonts/Work-Sans/Regular/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Work-Sans/Regular/WorkSans-Regular.svg#WorkSans-Regular') format('svg'),
         url('../../fonts/Work-Sans/Regular/WorkSans-Regular.woff') format('woff'),
         url('../../fonts/Work-Sans/Regular/WorkSans-Regular.ttf')  format('truetype'),
         url('../../fonts/Work-Sans/Regular/WorkSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Light';
    src: url('../../fonts/Work-Sans/Light/WorkSans-Light.eot');
    src: url('../../fonts/Work-Sans/Light/WorkSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Work-Sans/Light/WorkSans-Light.svg#WorkSans-Light') format('svg'),
         url('../../fonts/Work-Sans/Light/WorkSans-Light.ttf')  format('truetype'),
         url('../../fonts/Work-Sans/Light/WorkSans-Light.woff') format('woff'),
         url('../../fonts/Work-Sans/Light/WorkSans-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Thin';
    src: url('../../fonts/Work-Sans/Thin/WorkSans-Thin.eot');
    src: url('../../fonts/Work-Sans/Thin/WorkSans-Thin.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Work-Sans/Thin/WorkSans-Thin.svg#WorkSans-Thin') format('svg'),
         url('../../fonts/Work-Sans/Thin/WorkSans-Thin.ttf')  format('truetype'),
         url('../../fonts/Work-Sans/Thin/WorkSans-Thin.woff') format('woff'),
         url('../../fonts/Work-Sans/Thin/WorkSans-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}